{namespace ws=Tx_WildsideExtbase_ViewHelpers}
<div class='record-selector'>
	<ws:comment>
	Add options to fold/unfold the selector, searcher and list, or each one by itself.
	</ws:comment>
	
	<div class="record-selector-search">
		SEARCH
		<ws:field.input name="q" />
	</div>
	<div class="record-selector-select">
		RESULTS
		<ws:widget widget="dk.wildside.display.widget.ListWidget" name="results" />
	</div>
	<div class="record-selector-list">
		LIST
		<ws:widget widget="dk.wildside.display.widget.ListWidget" name="selections" />
	</div>
</div>
