.wildside-extbase-sortable { width: 100%; }
.wildside-extbase-sortable th {
	cursor: pointer;
	background-repeat: no-repeat;
    background-position: center left;
    padding-left: 18px;
    text-align: left;
}

.wildside-extbase-sortable tr.even td,
.wildside-extbase-sortable th {
	background-color: #EDEDED;
}

.wildside-extbase-sortable tr.off {
	display: none;
}

.data td { }
.data { margin-bottom: 8px; }
.dataTables_info,
.dataTables_paginate,
.dataTables_filter,
.dataTables_length {
	padding: 4px;
	background-color: #EFEFEF;
	text-align: center;
	overflow: auto;
	position: relative;
}
.dataTables_paginate.paging_full_numbers { min-height: 16px; }


.dataTables_filter { text-align: left; height: 25px; }
.dataTables_length { float: right; height: 25px; }
.paginate_button,
.paginate_active {
	cursor: pointer;
	margin: 0px 8px 0px 0px;
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	width: 20px;
}
.dataTables_paginate .first,
.dataTables_paginate .previous,
.dataTables_paginate .last,
.dataTables_paginate .next {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	top: 0px;
	margin: 0;
}

.dataTables_paginate .previous { left: 5px; }
.dataTables_paginate .first { left: 26px; }
.dataTables_paginate .last { right: 26px; }
.dataTables_paginate .next { right: 5px; }


.dataTables_paginate .paginate_active { font-weight: bold; text-decoration: none; }